<html>
    <head>
        <style>
            body {
                font-family: 'calibri'
            }
        </style>
    </head>
    <body>
        <h1>Welcome Page</h1>
        <p>This is an example of returning an html page</p>
        <p>Welcome <%= name %>!</p>
    </body>
</html>